{% extends 'base.html.twig' %}

{% block title %}Commande Validée{% endblock %}

{% block body %}
    <h1>Commande Validée</h1>
    <p>Merci pour votre achat ! Votre commande a été enregistrée avec succès.</p>

    <a href="{{ path('app_home') }}">Retour à l'accueil</a>
{% endblock %}
