{% extends 'base.html.twig' %}

{% block title %}Accueil - Boutique de Chaussures{% endblock %}

{% block body %}
    <link rel="stylesheet" href="/CSS/home.css">
    <div class="container">
        <header>
    <div class="header-container">
        <div class="auth-links">
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
        <div class="header-content">
            <h1>Bienvenue sur notre boutique de chaussures</h1>
            <p>Découvrez nos dernières collections</p>
        </div>
    </div>
</header>
        <section class="products">
            <div class="product">
                <img src="/images/home.image/sneaker1.jpg" alt="Chaussure 1">
                <h2>Chaussure Sport</h2>
                <p>Prix: 59.99€</p>
            </div>
            <div class="product">
                <img src="/images/home.image/sneaker2.jpg" alt="Chaussure 2">
                <h2>Chaussure Classique</h2>
                <p>Prix: 79.99€</p>
            </div>
             <div class="product">
                <img src="/images/home.image/sneaker3.jpg" alt="Chaussure 2">
                <h2>Chaussure Classique</h2>
                <p>Prix: 79.99€</p>
            </div>
             <div class="product">
                <img src="/images/home.image/sneaker4.jpg" alt="Chaussure 2">
                <h2>Chaussure Classique</h2>
                <p>Prix: 79.99€</p>
            </div>
        </section>
    </div>
{% endblock %}

